name: practice
on:
    push:
      branches:
        - main
        - 'feature/**'
    pull_request:
      branches:
        - 'feature/**'
        - 'release/**'

jobs:
  buid:
    runs-on: windows-latest
    steps:
      - run: echo "this is demo for practice job"
